#app2 {
  width: 50vw;
  height: 50vh;
}
#app2 .tab-bar {
  border: 3px solid black;
  display: flex;
}
#app2 .tab-bar > li {
  border: 1px solid grey;
  display: flex;
  width: 50%;
}
#app2 .tab-bar > li.selected {
  background-color: rgb(253, 221, 155);
  color: white;
}
#app2 .tab-content > li {
  display: none;
}
#app2 .tab-content > li.active {
  display: block;
}